.headerContainer {
  width: 100%;
  background-color: aquamarine;
  height: auto;
  position: fixed;
  top: 0;
}
.header {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.logodiv {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  align-items: center;
  background-color: black;
  padding: 5px;
}
.logoText {
  color: aquamarine;
  font-weight: 600;
  font-size: 30px;
}
.logo {
  height: 70px;
  width: auto;
}
.githubLogo {
  height: 70px;
  width: auto;
}
